@using SimpleSiteWithDb.Models
@model IEnumerable<Book>

<h1>Books list</h1>
<div>
    <ul>
    @foreach (var book in Model)
    {
        <li>@book.BookId - @book.Name - @book.ISDN</li>
    }
    </ul>
</div>
